body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.border {
  border: 1px solid black;
  }
  
.italic {
  font-style: italic;
  }
  
.hidden {
  display: none;
  }

.padding-none {
  padding: 0;
  margin: 0;
  }
  
.padding-small {
  padding: 0.5em;
  }
  
.padding {
  padding: 1em;
  }
  
.padding-large {
  padding: 2em;
  }

.margin-auto {
  margin: auto;
  }
  
.margin-none {
  margin: 0;
  }
  
.margin-none-vertical {
  margin-top: 0;
  margin-bottom: 0;
  }
  
.margin-small {
  margin: 0.5em;
  }

.margin-small-vertical {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  }
  
.margin-small-horizontal {
  margin-left: 0.5em;
  margin-right: 0.5em;
  }
  
.margin {
  margin: 1em;
  }
  
.margin-vertical {
  margin-top: 1em;
  margin-bottom: 1em;
  }
  
.margin-large {
  margin: 2em;
  }

.margin-large-vertical {
  margin-top: 2em;
  margin-bottom: 2em;
  }
  
